@model WebShop_S2.Models.OrderViewModel

@{
    ViewData["Title"] = "OrderPage";
}

<h2>Order</h2>
<div>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <td>Game</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model.Order.GameList)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                </tr>
            }
        </tbody>
    </table>
    <form asp-action="Checkout">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Order.OrderDate" class="control-label"></label>
            <input type="date" value="" asp-for="Order.OrderDate" class="form-control" />
            <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address" class="control-label"></label>
            <input type="text" asp-for="Address" class="form-control" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <p>Total Price : @Model.TotalPrice</p>
            <input type="submit" value="Checkout" class="btn btn-default" />
        </div>
    </form>
</div>
