@model WebShop_S2.Models.AllGameViewModel

@{
    ViewData["Title"] = "AllGames";
}

<h2>AllGames</h2>

<div>
    @foreach (var item in Model.Games)
    {
        <div style="margin-right:10%;float:left">
            <img style="" alt="/images/NoIMG.png" src="~/images/NoIMG.png" class="img img-responsive profile-image">
            <p style="float:left;margin-right:20px"><a href="/Game/GamePage/@item.ID"> @item.Name</a></p>
            <p style="float:left">@item.Price</p>
        </div>
    }
    <br />
    <br />
    <br />
    <br />
</div>

