@model WebShop_S2.Models.AllGameViewModel

@{
    ViewData["Title"] = "AllGames";
}

<h2>AllGames</h2>

<div>
    <h4>AllGameViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
