@model WebShop_S2.Models.GameViewModel

@{
    ViewData["Title"] = "GamePage";
}


<div>
    <h2>@Model.Game.Name</h2>
    
    <ul>
        <li>@Model.Game.Price</li>
        <li>@Model.Game.Description</li>
    </ul>
</div>
<div>

</div>
