@model WebShop_S2.Models.GameViewModel

@{
    ViewData["Title"] = "GamePage";
}


<div id="GameInfo" class="col-md-3 profile-box">
    <div class="profile-box-content">
        <h2 class="">@Model.Game.Name</h2>
        <ul id="GameInfo" class="container details no-padding">
            <li><p><span class="glyphicon glyphicon-calendar"></span> @Model.Game.ReleaseDate.ToShortDateString()</p></li>
            <li><p><span class="glyphicon glyphicon-star"></span>Score</p></li>
        </ul>
        <hr />
    </div>

</div>
<div style="float:right;border:dashed;width:70%;margin:2%">
    <img alt="/images/NoIMG.png" src="~/images/NoIMG.png" class="img img-responsive profile-image">
</div>
<hr />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="float:left;margin-top:5%;width:40%">
    <h3>Reviews</h3>
        <p> <h2 style="float:left">Name</h2></p>
        <p><h2 style="float:right">Score</h2></p>
        <br />
        <br />
        <br />
    <p><h1 style="float:left">Description</h1></p>
</div>
<div style="">
    @Model.Game.Description
</div>